.footer {
}

.popupsWrapper {
  width: 100%;
  background-color: #F6F6F6FF;

  .popups {
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .infoPopupButton {
      display: flex;
      align-items: center;
      gap: 16px;

      span {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        width: 148px;
      }
    }

    .organsPopupButton {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 12px;
      font-weight: 300;
      color: #AEAEAE;

      cursor: pointer;

      &:not(:hover) {
        filter: grayscale(1);
      }
    }
  }
}

.infoWrapper {
  width: 100%;
  font-weight: 300;
  background-color: #adadad;

  .info {
    font-size: 14px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .mail {
      display: flex;
      gap: 8px;
    }

    .socialMedia {
      display: flex;
      gap: 8px;
    }

    .warning {
      max-width: 470px;
    }
  }
}