.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.underSliderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 3px rgb(213 213 213);
  font-size: 15px;

  .underSlider {
    padding: 25px 16px;
    display: flex;
    align-items: center;
    gap: 28px;

    .divider {
      height: 60px;
      width: 1px;
      background: #CCCCCC;
    }

    .underSliderItem {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .underSliderText {
      display: inline-block;
      width: 170px;
    }
  }
}

.hWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.titles {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 8px;
}

.saleCarousel {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.lastNews {
  width: 100%;
  display: flex;
  gap: 16px;

  .newsItem {
    width: 100%;
    max-width: 640px;
    box-shadow: 0 2px 3px rgb(213 213 213);
  }

  .newsDescription {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .moreNews {
      display: flex;
      gap: 8px;
      flex-direction: column;

      button {
        width: fit-content;
        align-self: flex-end;
        color: white;
        border: none;
        background: #009d53;
        padding: 4px 16px;
        cursor: pointer;
      }
    }
  }
}

.presentations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1480px;
  gap: 24px;

  .presentationRow {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;

    .presentationsItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 640px;
      width: 100%;

      div {
        width: 100%;
      }
    }

    .labCamera {
      object-fit: cover;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 16px;

    .review {
      width: 100%;
      max-width: 640px;
      padding: 20px;
      min-height: 217px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-weight: 300;
      box-shadow: 0 3px 8px rgba(213, 213, 213, 0.34);

      .reviewHead {
        display: flex;
        justify-content: space-between;

        .stars {
          padding-left: 16px;
          color: #009d53;
        }

        .date {
          font-size: 14px;
          font-weight: 100;
          color: grey;
        }
      }

      button {
        width: fit-content;
        align-self: flex-end;
        color: white;
        border: none;
        background: #009d53;
        padding: 4px 16px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1379px) {
  .underSliderWrapper {
    .underSlider {
      gap: 12px;
    }
  }
  .gallery {
    div {
      img:not(:first-child) {
          display: none;
      }
    }
  }
}

@media (max-width: 1279px) {
  .underSliderWrapper {
    font-size: 13px;
    .underSlider {
      .underSliderItem {
        gap: 8px;
      }
      .underSliderText {
        width: 145px;
      }
    }
  }
}

@media (max-width: 1140px) {
  .presentations {
    .presentationRow {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 922px) {
  .underSliderWrapper {

    .divider:nth-child(3n+1) {
      display: none;
    }

    .underSliderItem {
      flex-basis: calc(50% - 13px);
    }
    .underSlider {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 764px) {
  .saleCarousel {
    img:nth-child(even) {
      display: none;
    }
  }
  .lastNews {
    flex-direction: column;
    .newsItem {
      max-width: 100%;
    }
  }
  .reviews {
    .row {
      flex-direction: column;
    }
  }
}

@media (max-width: 479px) {
  .underSliderWrapper {
    .underSlider {
      justify-content: center;
      .underSliderItem {
        flex-basis: 70%;
      }
      .underSliderText {
        width: auto;
      }
      img {
        flex-shrink: 0;
      }
    }

    .divider {
      display: none;
    }
  }
  .reviews .row .review .reviewHead {
    flex-direction: column;
  }
}

