.container {
    display: flex;
    gap: 28px;
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 1380px;
}

.priceGroups {
    position: sticky;
    top: 126px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    box-shadow: 2px 5px 20px 0 hsla(0, 0%, 0%, 0.07);
    padding: 20px;
    font-size: 15px;
    font-weight: 300;

    .header {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        height: 38px;
        gap: 16px;

        button {
            background-color: transparent;
        }
    }

    .priceGroupItems {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .serviceItem {
            display: flex;
            align-items: center;
            gap: 16px;

            .serviceName {
                white-space: pre;
            }
        }
    }

    .atlasButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        background-color: transparent;

        span {
            transition: 100ms;
            display: flex;
            align-items: center;
            padding: 12px;
            border-radius: 14px;

            color: white;
            background-color: #009d53;
        }

        &:hover {
            span {
                scale: 1.05;
            }
        }
    }
}

.serviceWrapper {
    img {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    .serviceDescription {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 15px;
        line-height: 20px;
        text-align: justify;
        font-weight: 300;

        strong {
            font-weight: 400;
        }
    }
}